.post-edit {
  &__inner {
    input,
    textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }
  &__required {
    display: inline-block;
    color: red;
    font-weight: bold;
    padding-right: 1rem;
  }
}
